project:
  type: website
  output-dir: docs 

website:
  title: "Breakthrough_Business_Intelligence"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: how_brands_grow.qmd
        text: How Brands Grow

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    link-external-newwindow: true

editor: visual

